<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AngularTest</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="../dist/main.min.css"> -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="../dist/main.min.js"></script> -->
</head>

<body>
    <div class="container">
        <p>하위</p>
        <!-- <todo-title></todo-title>

        <form name="todoForm" ng-submit="add(newTodoTitle)">
            <div class="input-group">
                <input type="text" class="form-control input-box" ng-model="newTodoTitle" placeholder="새로운 할일을 입력하세요..."
                    minlength="3">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">추가</button>
                </span>
            </div>
            <div ng-show="todoForm.$dirty && todoForm.$invalid">
                <div class="alert alert-warning" role="alert">3글자 이상 입력하세요.</div>
            </div>
        </form>

        

        <ul class="list-unstyled">
            <li ng-repeat="todo in todos | filter: filterStatus">
                <date>{{ todo.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}</date>
                <div class="col-lg-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <input type="checkbox" ng-model="todo.completed">
                        </span>
                        <input type="text" class="form-control" ng-model="todo.title">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button" ng-click="remove(todo)">삭제</button>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        <button class="btn btn-primary" ng-click="filterStatus={completed:true}">completed</button>
        <button class="btn btn-primary" ng-click="filterStatus={completed:false}">active</button>
        <button class="btn btn-primary" ng-click="filterStatus={}">all</button> -->
    </div>
</body>

</html>